# Copie este arquivo para .env e preencha as chaves reais
# NUNCA commite o arquivo .env

FACECHECK_API_KEY=qDkxjcflbaMvhL9RSPbDtx3Cbp0GsGKiu73LauUyu+/sEDWZIbnzZPM8l2YR9r4U4cAjbpNiYjQ=
GOOGLE_CLOUD_API_KEY=AIzaSyDGJkYjZogfREp1AU2ETrSF3sruQOP2MUw
# ou use o caminho para o arquivo de credenciais do Google Cloud:
# GOOGLE_APPLICATION_CREDENTIALS=./credentials.json
